// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 16;
  font-family: "Helvetica";
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 16px;
  justify-content: space-around;
  margin: 0 auto;

}

.letter {
  background: #174D5A;
  color: rgb(240, 240, 240);
  padding: 16px;
  border: solid 2px rgb(240, 240, 240);
  box-shadow: 2px 2px 10px grey;
}

a {
  text-decoration: none;
  color: grey;
  &:hover {
    color: #174D5A;
  }
}


